@import 'variables';

.header {
  width: 100%;
  text-align: center;

  &__greetings {
    color: $light-red-0;
    margin-bottom: $size-4;
  }

  &__description {
    color: $light-white-2;
    margin-bottom: $size-3;
  }
}
