
html, body {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  position: relative;
}

.logo {
  width: 150px;
}

p {
  position: absolute;
  top: 50%;
  transform: translateY(80px);
  font-family: 'Courier New', Courier, monospace;
  color: #505050;
}



