@import 'variables';

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-4;
  margin-bottom: $size-7;

  &__logo {
    cursor: pointer;
  }

  &__home {
    font-weight: bold;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      background-color: $light-blue-0;
      width: 0;
      transition: width 0.4s ease;
    }

    &:hover {
      &::after {
        width: 100%;
        transition: width 0.4s ease;
      }
    }
  }
}
