@import 'variables';

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-7 0;
  margin-bottom: $size-6;

  &__logo {
    cursor: pointer;
  }

  &__items {
    display: flex;
    gap: $size-6;
  }

  &__item {
    font-weight: bold;
  }
}
