@import 'variables';

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-4;
  margin-bottom: $size-7;

  &__logo {
    cursor: pointer;
  }

  &__item {
    font-weight: bold;
  }
}
