@import 'variables';

.footer {
  color: $light-white-1;
  margin-top: $size-7;
  padding: $size-7 0;
  display: flex;
  gap: $size-3;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.icon_heart {
  fill: #d41010;
}
