@import 'variables';

.footer {
  color: $light-white-2;
  margin-bottom: $size-8;
  display: flex;
  gap: $size-3;
  align-items: center;
  justify-content: center;
}

.icon_heart {
  fill: $light-red-0;
}
