@import 'variables';

.footer {
  color: $light-white-2;
  margin-top: $size-7;
  padding: $size-7 0;
  display: flex;
  gap: $size-3;
  align-items: center;
  justify-content: center;
}

.icon_heart {
  fill: $light-red-0;
}
