@import 'variables';

.logo__animation {
  animation: 8s linear color-change infinite;
}

@keyframes color-change {
  0% {
    fill: $light-fuchsia-0;
  }
  25% {
    fill: $light-blue-0;
  }
  50% {
    fill: $light-lime-0;
  }
  75% {
    fill: $light-red-0;
  }
  100% {
    fill: $light-fuchsia-0;
  }
}
