@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import 'variables';
@import 'shared';

.title {
  text-align: center;
  margin: 35px 0;
  color: $light-red-0;
}

.post {
  li,
  p {
    line-height: 1.6;
  }

  p {
    margin: 20px 0;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 35px 0px 25px 0px;
  }

  pre {
    margin: $size-6 0;

    margin-left: -$size-5;
    margin-right: -$size-5;
  }

  code {
    font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono';
    font-size: 16px;
  }

  pre > code {
    font-size: 16px;
  }

  li {
    margin-bottom: $size-4;
  }

  a {
    @extend %underline-link-animation !optional;
  }

  blockquote {
    font-style: italic;
    position: relative;
    color: $light-white-1;
    margin: $size-6 0;
    padding: 16px 40px;
    background-color: $dark-blue-1;

    p {
      margin: 0;
    }

    ::before {
      position: absolute;
      content: '';
      width: 3px;
      height: 100%;
      background-color: $light-white-1;
      left: 0px;
      top: 0;
    }
  }

  img {
    max-height: 600px;
    width: 100%;
    object-fit: contain;
    margin: 10px 0;
  }
}
