@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import 'variables';
@import 'shared';

.title {
  text-align: center;
  margin: 35px 0;
}

.post {
  p {
    margin: 15px 0;
    line-height: 1.5;
  }

  h1 {
    font-size: 28px;
    margin: 30px 0;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 25px 0;
  }

  pre {
    margin: 15px 0;

    margin-left: -18px;
    margin-right: -18px;
  }

  code {
    font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono';
    font-size: 16px;
  }

  pre > code {
    font-size: 16px;
  }

  a {
    @extend %underline-link-animation !optional;
  }
}
