@import 'variables';
@import 'breakpoints';

.about {
  p {
    line-height: 1.6;
    margin: 20px 0;
  }

  &__me {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-8;
    margin-bottom: $size-8;
  }

  &__image {
    text-align: center;

    img {
      border-radius: 5px;
      background-color: $dark-blue-1;
    }
  }

  &__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-8;
    row-gap: $size-5;
  }

  @include breakpoint-mobile {
    &__me,
    &__questions {
      grid-template-columns: 1fr;
    }
  }
}
