@import 'variables';

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $size-5;

  p {
    line-height: 1.6;
    margin: 20px 0;
  }
}

.about__image {
  border-radius: 5px;
}
