@import 'variables';
@import 'breakpoints';

.postList {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: $size-7;

  &__post {
    display: flex;
    flex-direction: column;
    gap: $size-3;
    padding: $size-6;
    background-color: $dark-blue-1;
    border-radius: $size-4;
  }

  & span {
    color: $light-white-2;
  }

  & p {
    line-height: 1.6;
  }

  @include breakpoint-mobile {
    &__post {
      padding: $size-5;
    }
  }
}
