$dark-blue-0: #03101b;

$light-white-0: #fff;
$light-white-1: #eee;
$light-white-2: #aaa;

$light-fuchsia-0: #ae20a1;

$light-blue-0: #0c69d9;

$light-lime-0: #00ffa3;

$light-red-0: #fe4545;

$size-0: 2px;
$size-1: 4px;
$size-3: 8px;
$size-4: 12px;
$size-5: 18px;
$size-6: 26px;
$size-7: 40px;
