$dark-blue-0: #03101b;
$dark-blue-1: #011627;

$light-white-0: #f5f5f5;
$light-white-1: #eee;
$light-white-2: #aaa;

$light-fuchsia-0: #c524b8;

$light-blue-0: #17a8fc;

$light-lime-0: #00ffa3;

$light-red-0: #fe4545;

$size-0: 2px;
$size-1: 4px;
$size-3: 8px;
$size-4: 12px;
$size-5: 18px;
$size-6: 30px;
$size-7: 40px;
$size-8: 50px;
