@import 'variables';
@import 'shared';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $dark-blue-0;
  color: $light-white-0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p,
html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $light-blue-0;
  text-decoration: none;
}

hr {
  margin: $size-7 auto;
  border-color: $light-white-2;
  width: 100px;
}
